<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
		<li>
          <a href="{{ '/' | prepend: site.baseurl }}"><strong>首页</strong></a>
        </li>
		<li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}"><strong>分类</strong></a>
        </li>
		<li>
          <a href="{{ '/tag' | prepend: site.baseurl }}"><strong>标签</strong></a>
        </li>
		<li>
		  <a href="{{site.resume_site}}"><strong>关于</strong></a>
		</li>
		<li>
          <a href="{{site.github}}"><strong>Github</strong></a>
        </li>
      </ul>
    </nav>
  </div>
</header>